*{
    margin:0px;
    padding:0px;
   }


   body{
    margin:0px;
    padding:0px;
    background-color: #ffff;
    color:white;
   }


   h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Gill Sans MT', Calibri,
   'Trebuchet MS', sans-serif;
    color:rgb(67, 84, 87);
    font-size: 20pt;
    text-align: left
   }

   h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Gill Sans MT', Calibri,
   'Trebuchet MS', sans-serif;
    color:rgb(67, 84, 87);
    font-size: 20pt;
    text-align: center;
   }

   h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Gill Sans MT', Calibri,
   'Trebuchet MS', sans-serif;
    color:#000;
    font-size: 20pt;
    text-align: center;
   }

   #contenedor{
    width: 100%;
    height: 100%;
   }

header {
    width:100%;
    position: fixed;
    height: 100px;
    margin-top: -30px;
}

header nav {
	width:100%;
	max-width:1000px;
	margin:20px auto;
	background:#000;
}
 
.menu_bar {
	display:none;
}
 
header nav ul {
	overflow:hidden;
	list-style:none;
}
 
header nav ul li {
	float:left;
}
 
header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}
 
header nav ul li span {
	margin-right:10px;
}
 
header nav ul li a:hover {
	background:rgb(150, 150, 150);
}
 
section {
	padding:20px;
}
 
@media screen and (max-width:800px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}
 
	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
 
	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}
 
	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#000;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar span {
		float:right;
		font-size:40px;
	}
}


   #cuerpo{
    width: 96%;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
   }

   #piepagina{
    width: 100%;
    height: 75px;
    background-color: rgb(187, 199, 199);
    text-align: center;
    padding-top: 2%;
   }

   .parrafo1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(67, 84, 87);
    font-size: 12pt;
    }

   .parrafo2{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(67, 84, 87);
    font-size: 12pt;
   }
   
   .justificada{
    text-align: justify;
   }
   
   .imagen-izquierda{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    float: left;
    margin-right: 2%;
   }
   .imagen-derecha{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    float: center;
    margin-left: 9%;
    margin-top: 5%;
    margin-right: 2%;
   }

   .imagen-centro{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    float: center;
    margin-top: 5%;
   
   }


   #comentarios{
    text-align:center;
    height: 450px;
    width: 80%;
    background-size: 100% 100%;
    margin-top:0px;
    z-index: 0;
    color:#000;
    }


   #top{
   position: fixed; 
   bottom: 20px; 
   right: 30px; 
   z-index: 99; 
   border: none; 
   outline: none; 
   background-color: #e9adad; 
   color: white; 
   cursor: pointer; 
   padding: 15px; 
   border-radius: 60px; 
   font-size: 18px; 
   }


   #tumblr{
    position: fixed; 
    bottom: 20px; 
    left: 70px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #000; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 60px; /
    font-size: 18px; 
    }

    #twitter{
    position: fixed; 
    bottom: 20px; 
    left: 140px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #000; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 60px; 
    font-size: 18px; 
    }

    #instagram{
    position: fixed; 
    bottom: 20px;
    left: 210px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #000; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 60px; 
    font-size: 18px; 
    }
        



@media (max-width: 1024px) {
    body {
        background-color: #ffff;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    body {
        background-color: #ffff;
    } 
}

@media (max-width: 770px) {
    body {
        background-color: #ffff;
    }
}

@media (max-width: 770px) and (orientation: portrait) {
    body {
        background-color: #ffff;
    }
}

@media (max-width: 770px) and (orientation: landscape) {
    body {
        background-color: #ffff;
    }
}

@media(max-width: 600px) {
    body {
        background-color: #ffff;
    }
}

@media(max-width: 600px) and (orientation: landscape) {
    body {
        background-color: #ffff;
    }
}